@import 'tailwindcss';

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@keyframes confetti {
    0% {
        transform: translateY(-10vh) translateX(0) rotateZ(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) translateX(calc(-50vw + var(--random-x, 0px))) rotateZ(720deg);
        opacity: 0.3;
    }
}

.animate-confetti {
    animation: confetti ease-in forwards;
}
